<?xml version='1.0' encoding='utf-8'?>
<widget id="me.matb33.gamepad-keycode-zero" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GamepadKeycodeZero</name>
    <description>Demonstrate keyCode 0 being fired for A, B, X, Y buttons</description>
    <author email="matb33@gmail.com" href="http://github.com/matb33">Mathieu Bouchard</author>

	<preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="SplashScreenDelay" value="2000" />
	<preference name="KeyboardShrinksView" value="false" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />
	<preference name="BackupWebStorage" value="none" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#00A1D7" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<preference name="Orientation" value="default" />
	<preference name="EnableViewportScale" value="true" />
	<preference name="MediaPlaybackRequiresUserAction" value="false" />
	<preference name="TopActivityIndicator" value="white" />

    <content src="gamepad-keycode-zero.html" />

    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-crosswalk-webview" version="1.2.0" />

	<access origin="*" />

	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />

	<platform name="android">
		<allow-intent href="market:*" />

		<preference name="xwalkVersion" value="14+" />
		<preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect --allow-file-access-from-files" />
	</platform>
</widget>